body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8cccc;
}
h1 {
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  border: 2px solid red;
  border-radius: 0 15px 0 15px;
  box-shadow: 0 5px 10px red;
  width: 50vw;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
article {
  width: 40vw;
  margin: 1rem;
  border: solid 1px black;
}
