<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <%= message %>
    <h1><a href="/whoami">who am i?</a></h1>
    <h2><a href="/whoamijson">json who</a></h2>
    <h3><a href="/pikajson">pika json</a></h3>
    <h3><a href="/pikahtml">pika html</a></h3>
    <h4><a href="/color">random color</a></h4>

</body>
</html>