<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <a href="/">go home!</a>
    <%= isMe.name%>
    <%= isMe.age%>
    <img src="<%= isMe.profilePic%>" alt="beautiful guy" width="500px"
    height="400px">
    <h1>hello</h1>
    <h2>bye</h2>
    <p>testing</p>
    <p>helloooooo</p>
    <p>bye</p>
    <a href="/whoamijson">jsons</a>
</body>
</html>